@font-face {
    font-family: "Comic Relief";
    src: url("fonts/ComicRelief-Regular.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Relief";
    src: url("fonts/ComicRelief-Bold.ttf") format("truetype");

    font-weight: bold;
    font-style: normal;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: #c5c5c5;
    font-family: "Comic Relief", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 32px;
}

#score{
    grid-column: 1 / span 2;
    grid-row: 1;
}

.one{
    grid-column: 1;
    grid-row: 2;
}

.two{
    grid-column: 2;
    grid-row: 2;
}

.current-player{
    grid-column: 1 / span 2;
}

.xo-container{
    grid-column: 1 / span 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}


[class^="row-"]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

[class^="col-"]{
    background-color: aliceblue;
    font-family: "Comic Relief", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 128px;
    aspect-ratio: 1/1;
    height: 160px;
    width: auto;
}

.xo-container button{
    border-radius: 16px;
    box-shadow: 5px 5px 10px #1d1d1d;
    outline: none;
    border: 0;
}

.xo-container button:hover{
    border: 5px solid #466275;
}

button[class^="player-"]{
    font-family: "Comic Relief", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c5c5c5;
    font-size: 1.1rem;
    border-radius: 16px;
    border: 0;
    outline: none;
    width: 128px;
    height: 64px;
    padding: 10px 20px;
}

button[class^="player-"]:hover{
    background-color: #c2abab;
}

button[class^="change-player-"]{
    font-family: "Comic Relief", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-self: center;
    height: 48px;
    width: 180px;
    padding: 10px 20px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px #1d1d1d;
    outline: none;
    border: 0;
}



dialog{
    font-size: 1.5rem;
    background-color: #d4b7b7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 24px;
    box-shadow: 5px 5px 5px #466275;

}

dialog button{
    width: 128px;
    height: 32px;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
}

dialog::backdrop{
    background-color: #b16868;
}